# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyFirstGame.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\rlawj\MyFirstGame\.idea\.idea.MyFirstGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
